* {
    box-sizing: border-box;
}

html, body {
    scroll-behavior: smooth;
    height: 100%;
    box-sizing: border-box; 
}

hr {
    margin: 1em 0;
    border: 0;
    border-bottom: 1px solid #ccc;
}

/*Code and blockquote formatting*/
blockquote {
    margin-left: 0;
    padding: 0.5em 0 0.5em 2em;
    border-left: 3px solid rgb(211, 218, 234);
}
code {
    background: rgba(211, 218, 234, 0.25);
}
pre > code {
    display: block;
    padding: 0.5em 4em;
    flex-direction: column;
}
pre {
    white-space: pre-wrap;
    word-wrap: keep-all;
    text-align: justify;
    flex-direction: column;
    overflow: auto;
    max-width: 80%;
}
@media all and (orientation:landscape) {
    pre {
        white-space: pre-wrap;
        word-wrap: keep-all;
        text-align: justify;
        flex-direction: column;
        overflow: auto;
    }
}
li, code {
    margin: 0.4em 0;
}

p {
    margin: 1.2em 0;
}
/*Stylizes image caption where paragraph contains image and text*/
p:has(img) {
    text-align: center;
    font-size: 14px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}
td {
    padding: 4px 8px;
    border-left: 2px solid white;
}
tr:nth-child(2n) {
    background: #e6b8b7;
    color: black;
}
tr:nth-child(2n+1) {
    background: #f2dcdb;
    color: black;
}
th {
    border-bottom: 2px solid #000000;
    background: #c0504d;
    color: white;
    border-left: 2px solid black;
}

img {
    height: 96px;
}
/*recolor the background of svg images when in dark mode*/
.bg-dark > div > div > div > div > div > p > img[src$=".svg"] {
    background: #bdbdbd;
}
/*Triggers if alt text ends with these symbols*/
img[alt$=">"] {
    float: right;
}
img[alt$="<"] {
    float: left;
}
img[alt$="><"] {
    display: block;
    min-width: 100%;
    max-width: 100%;
    max-height: 300px;
    height: auto;
    margin: auto;
    float: none!important;
}
img[alt$="laTex"] {
    display: block;
    min-width: 20%;
    max-width: 20%;
    max-height: 100px;
    height: auto;
    margin: auto;
    float: none!important;
}
img[alt$="30"] {
    display: block;
    min-width: 30%;
    max-width: 30%;
    max-height: 200px;
    height: auto;
    margin: auto;
    float: none!important;
}
img[alt$="40"] {
    display: block;
    min-width: 40%;
    max-width: 40%;
    max-height: 200px;
    height: auto;
    margin: auto;
    float: none!important;
}
img[alt$="50"] {
    display: block;
    min-width: 50%;
    max-width: 50%;
    max-height: 200px;
    height: auto;
    margin: auto;
    float: none!important;
}
img[alt$="60"] {
    display: block;
    min-width: 30%;
    max-width: 60%;
    max-height: 200px;
    height: auto;
    margin: auto;
    float: none!important;
}


.markdown {
    padding: 0 0 0 12px;
    overflow: auto;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    line-height: 1.3;
}

#theme {
	width: 130px;
	position:absolute;
	right: 30px;
	top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia,Times,Times New Roman,serif;
	color: #58a1b8;
}

h1 {
    text-align: center;
}

hr {
    border: 1px solid grey;
}

.featuredPost {
    margin-top: 50px;
}

#progress{
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    width: 1%;
    background: #c21e42b0;
    transition: 0.1s linear;
    z-index: 99999;
    border-radius: 12;
}

.topbarLink {
    color: #58a1b8;
    text-decoration: none;
    font-family: Georgia,Times,Times New Roman,serif;
}